<app-home-navigation></app-home-navigation>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
      <h1>Orders</h1>
    </div>

  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">
      <!--Customer-->
      <table class="table" *ngIf="this.getRole()=='C'">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ordered date</th>
            <th scope="col">Time</th>
            <th scope="col">Total Price(Rs.)</th>
            <th scope="col">Status</th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody>
          <h1 style="text-align:center">{{ this.message }}</h1>
          <tr *ngFor="let order of this.orders">
            <th scope="row"></th>
            <td>{{ order.date }}</td>
            <td>{{ order.time }}</td>
            <td>{{order.totalPrice }}</td>
            <td>{{order.status }}</td>
            <td><a class="btn btn-primary" [routerLink]="['/OrderCustomer',order._id]">View</a></td>
          </tr>

        </tbody>
      </table>

      <!--Receptionist-->

      <table class="table" *ngIf="this.getRole()=='R'">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ordered date</th>
              <th scope="col">Time</th>
              <th scope="col">Total Price(Rs.)</th>
              <th scope="col">Status</th>
              <th scope="col"></th>

            </tr>
          </thead>
          <tbody>
            <h1 style="text-align:center">{{ this.message }}</h1>
            <tr *ngFor="let order of this.orders">
              <th scope="row"></th>
              <td>{{ order.date }}</td>
              <td>{{ order.time }}</td>
              <td>{{order.totalPrice }}</td>
              <td>{{order.status }}</td>
              <td><a class="btn btn-primary" [routerLink]="['/OrderCustomer',order._id]">View</a></td>
            </tr>

          </tbody>
        </table>
    </div>
  </div>

</div>
