@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";

/* upper nav bar */

.example1 {
	width:1500px;
	height: 40px;	
	overflow: hidden;
	position: relative;
	float: right;

   }
   .example1 h3 {
	font-size: 2em;
	color: black;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 40px;
	text-align: center;
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	/* Apply animation to this element */	
	-moz-animation: example1 15s linear infinite;
	-webkit-animation: example1 15s linear infinite;
	animation: example1 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes example1 {
	0%   { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes example1 {
	0%   { -webkit-transform: translateX(100%); }
	100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes example1 {
	0%   { 
	-moz-transform: translateX(100%); /* Firefox bug fix */
	-webkit-transform: translateX(100%); /* Firefox bug fix */
	transform: translateX(100%); 		
	}
	100% { 
	-moz-transform: translateX(-100%); /* Firefox bug fix */
	-webkit-transform: translateX(-100%); /* Firefox bug fix */
	transform: translateX(-100%); 
	}
   }

.container{
	width: 2500px;
	height: auto;
	margin: 0 auto;
}
.topbar{
	width: 100%;
	height: 4px;
	background-color: #fcc508;
}

.icon{
	width: 150px;
	height: 33px;
	padding-top: 5px;
	float: left;
}
.login_register_btn{
	width: 150px;
	height: 33px;
	float: left;
}
.header_right{
	width: 10px;
	height: auto;
	/* float: right; */
}
.login_register_btn a{
	display: block;
	float: left;
	color: white;
	text-decoration: none;
	line-height: 33px;
	width: 50px;
}
.cart_btn{
	width: 100px;
	height: 40px;
	background-color: #fcc508;
	float: right;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.cart_btn img{
	padding: 6px 4px;
	float: left;
}
.cart_btn span{
	height: 50px;
	line-height: 50px;
	color: #cc3333;
	font-size: 14px;
	font-weight: bold;
}

.header{
	width: 75%;
	height: 45px;
	padding-top: 10px;
	padding-bottom: 10px; 
}
.logo{
	width: 75px;
	height: 75px;
	float: left;
}
.navbar{
	width: 1500px;
	/* float :right; */
	text-align: right;
	padding-top: 3px;
	padding-bottom: 3px;
	
}
.navbar a{
	display: inline-block;
	/* color: black; */
	padding: 10px 20px; 
	text-decoration: none;
	font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .navbar{
		width: 50%;
		float: left;
		
		
	}
	.navbar a{
		font-size: 12px;
	}
  
}

