<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <h1>Men's items</h1>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Description</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="">
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">
            <h3>Sizes</h3>
          </label>
          <ul>
            <li>Small : <input type="number" min="0"> - <input type="number" min="0"></li>
            <li>Medium : <input type="number" min="0"> - <input type="number" min="0"></li>

            <li>Large : <input type="number" min="0"> - <input type="number" min="0"></li>
          </ul>
        </div>

      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
</div>
