<app-receptionist-navigation></app-receptionist-navigation>
<nav aria-label="breadcrumb" class="mt-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a [routerLink]="['/Receptionist/suitform',items[0]]">T-shirts</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/Receptionist/suitform',items[1]]">Shirts </a> </li>
    <li class="breadcrumb-item"><a [routerLink]="['/Receptionist/suitform',items[2]]">Trousers</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/Receptionist/suitform',items[3]]">Shorts</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/Receptionist/suitform',items[4]]">Sarees</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/Receptionist/suitform',items[5]]">Belts</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/Receptionist/suitform',items[6]]">Ties</a></li>
  </ol>
</nav>
<router-outlet></router-outlet>
