<app-home-navigation></app-home-navigation>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="dropdown">
            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mens' products
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <a class="dropdown-item" href="#">Suits</a>
              <a class="dropdown-item" href="#">Jeans</a>
              <a class="dropdown-item" href="#">Shorts</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="dropdown">
            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ladies products
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="dropdown">
            <button class="btn btn-outline-info down-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Accessories products
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
              <a class="dropdown-item" href="#">Belts</a>
              <a class="dropdown-item" href="#">Hand bags</a>
              <a class="dropdown-item" href="#">Ties</a>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>

</div>
