@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: verdana;
}
.main{
	width: 100%;
	height: auto;
	/* background-image: url(/img/bg.png); */
	background-repeat: repeat;
	height: auto;
  	margin:  auto;
  background-color: lightgray;
}

/*This is a Slider Style*/
.slider{
	width: 100%;
	height: auto;
	float: left;
}
.slideshow{
	width: 1000px;
	height: auto;
	border: 7px solid;
}
.slideshow img{
	width: 100%;
	height: auto;
	
}
.slide_topleft {
  position: absolute;
  top: 100px;
  left: 16px;
  font-size: 50px;
  color:whitesmoke;
}
.slide_topright {
	position: absolute;
	top: 75px;
	right: 16px;
	font-size: 50px;
	color:whitesmoke;
  }
.slide_center {
	position: absolute;
	top: 75%;
	left: 45%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	color:whitesmoke;
  }
  .slide_button {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: white;
	color:red;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	opacity: 0.5;
	border: 2px solid #555555;
  }
 
.center{
	position: relative;
	left: 0;
	top: 0;
	margin-top: -300px;
	z-index: 1000;
}

.center img{
	width: 80%;
	margin-top: 10px;
}
.center #prev{
	float: right;
	margin-right: 10px;
}
.center #next{
	float: left;
	margin-left: 20px;
}
.center #prev,
.center #next{
	width: 80px;
	height: 80px;
	background-color: white;
	text-decoration: none;
	text-align: center;
	line-height: 100px;
	border-radius: 100px;
	opacity: 0.7;
	border: 1px solid black;
}
.center #prev:hover,
.center #next:hover{
	opacity: 1;
}

.welcome_text{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 100px;
	text-align: center;
 }
.welcome_text h1{
	font-weight: normal;
}
.welcome_text h1 span{
	background-color: #fcc60d;
}


.event_section{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 50px;
	text-align: center;
	margin-bottom: 50px;

}


.event_section .event_one,
.event_section .event_two,
.event_section .event_three{
	width: 280px;
	height: auto;
	padding: 15px 10px;
	background-color: #1e1e20;
	border-radius: 7px;
	color: white;
	float: left;
	
}

.event_section h3{
	font-size: 16px;
	margin-bottom: 7px;
}
.event_section p{
	font-size: 14px;
}

.event_section .event_two{
	margin: 0 50px;
	background-color:grey;
	color: black;
}
.event_section .event_two h3{
	color: white;
}
.img_section{
  
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: auto;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
  }

.event_section.event_middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
  }

.img_section:hover {
	opacity: 0.3;
  }
.img_section:hover .event_section.event_middle  {
	opacity: 1;
}
/* .text {	
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
  }
  */
.center-box{
	width:100%;
	height:auto;	
	margin-top: 50px;
	margin-bottom: 50px;
}

.center-box.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
.product{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 50px;
}
.product_section_title{
	float: left;
	width: 100%;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}
.product_one{
	float: left;
	width: 230px;
	height: auto;
	border-radius: 7px; 
	background-color: white;
	padding-bottom: 15px;
	border-bottom: 2px solid darkgray;
	border-left: 1px solid darkgray;
	border-right: 1px solid darkgray;
}
.product_img{
	width: 230px;
	float: left;
	border: 1px solid;
	border-radius: 7px; 
	overflow: hidden;
}
.product_img img{
	width: 100%;
}
.product_text{
	width: 230px;
	float: left;
	margin-top: 10px;
	padding-left: 10px;
}
.product_text h4 i{
	font-weight: normal;
	margin-left: 10px;
}
.star_rating{
	float: left;
	width: 230px;
	margin-top: 10px;
	padding-left: 10px;
}
.star_rating img{
	width: 21px;
	float: left;
	margin-right: 5px;
}
.product_desc{
	width: 230px;
	float: left;
	font-size: 14px;
	margin-top: 5px;
	padding-left: 10px;
}
.product_price{
	width: 230px;
	float: left;
	margin-top: 10px;
}
.price{
	float: left;
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
}
.button{
	float: right;
	padding: 5px;
	background-color:#fcc508;
	border-radius: 5px;
	color: #cd3737;
	margin-right: 10px;
}
.product_two{
	margin-left: 16px;
	margin-right: 16px;
}
.product_three{
	margin-left: 16px;
	margin-right: 16px;
}
.product_one .product_img{
	position: relative;
}
.product_one .product_img span{
	position: absolute;
	left: 15px;
	top: 15px;
	background-color: #d308fc4f;
	color: #c32a2a;
	text-align: center;
	width: 55px;
	height: 55px;
	border-radius: 50px;
	line-height: 55px;
	font-weight: bold;
	font-size: 14px;
}
.brand{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 50px;
}
.brand_image img{
	width: 160px;
	height: 130px;
	float: left;
	margin-right: 6px;
}
.footer{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 50px;
	padding: 25px 0;
	background-image: url(/img/footer-bg.png);
	color: white;
}
.column3{
	width: 25%;
	float: left;
}
.footer h4{
	margin-bottom: 15px;
}
.footer p{
	font-size: 14px;
}
.footer p img{
	margin-right: 5px;
}
.second-column{
	width: 22%;
	margin-right: 3%;
}
.second-column p{
	border-bottom: 1px dotted rgba(255,255,255,0.7);
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.second-column p.not{
	border-bottom: none;
}

.third-column p{
	width: 100%;
	display: inline-block;
	float: left;
	margin-bottom: 5px;
}
.third-column p img{
	float: left;
}
.third-column p small{
	margin-top: 6px;
	display: block;
}
.third-column p small img{
	display: block;
	margin-top: 6px;
}

.four-column .search{
	padding: 10px 10px;
	font-style: italic;
	width: 100%;
	color: rgba(255,255,255,0.6);
	background-color: black;
	border:2px solid #333;
}
.four-column a{
	background-color: #2a2a2a;
	display: inline-block;
	padding: 8px 11px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	color: white;
	text-decoration: none;
}

.bottom{
	width: 100%;
	float: left;
	background-color: #1b1b1b;
	border-top: 1px solid black;
	height: 40px;
	line-height: 40px;
}
.bottom .column6{
	width: 50%;
	float: left;
}
.bottom a{
	display: inline-block;
	float: left;
	color: gray;
	margin-right: 15px;
	text-decoration: none;
} 
.bottom p{
	color: gray;
	text-align: right;
}



@media only screen and (max-width: 500px) {
	.container{
		width: 500px;
	}
	.logo{
		width: 10%;
		float: left;
	}
	.logo img{
		width: 100%;
	}
	

}

































