<div class="main">
<app-home-navigation></app-home-navigation>
	<!-- Carousel -->
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
  
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="img-box">
						<img class="d-block w-100" src="../../assets/img/test2.jpg" alt="First slide" style="width:100%;height:600px;opacity: 0.9;">
							<div class="slide_button" button (click)="viewProducts()">SHOP NOW</div>
						<div class="slide_topleft" style="color:black">Enjoy all the <br><b>SEASONAL</b> offers! </div>
					</div>
        </div>
        <div class="carousel-item img-box">
          <div class="img-box">
						<img class="d-block w-100" src="../../assets/img/casa1.jpg" alt="Second slide" style="width:100%;height:600px">
							<div class="slide_button" style="left:10%" button (click)="createModel()">DESIGN MODEL</div>
						<div class="slide_topleft">Get a <i>PERSONALIZED</i> <br>2D model for <br> your body<br> measurments</div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="img-box">
						<img class="d-block w-100" src="../../assets/img/test3.jpg" alt="Third slide" style="width:100%;height:600px">
						<div class="slide_topleft">FORGET THE RULES </div>
							<div class="slide_topright"><br><i>If you like it.Wear it</i> </div>
          </div>
        </div>
      </div>
	</div>
  
  <div class="welcome_text">
		<div class="container">
			<h1>WELCOME TO  <span>TryOn,</span>  MEET THE BEST EXPERIENCE IN <span>ONLINE SHOPPING</span></h1>
		</div>
	</div>

	<div class="event_section">
		<h2>How it works</h2><br>
		<div class="container">

			<a routerLink="/measurements" routerLinkActive="active">
				<div class="event_one">
					<h3>GET YOUR PERSONALIZED 2D MODEL</h3>
        	<p> Generate a 2D model for the measurments of your body</p>
        	<div class="img_section">
						<img src="../../assets/img/chart1.jpg">
							<div class="event_middle">
								<!-- <div class="text">John Doe</div> -->
							</div>
        	</div>		
				</div>
			</a>

			<div class="event_two">
				<h3>PICK UP THE BEST APPARELS FOR YOUR DESIRE</h3>
        <p>Choose the apparels fix with your body shape and desire</p>
        <div class="img_section">
					<img src="../../assets/img/apparel.png">
						<div class="event_middle">
								<!-- <div class="text">John Doe</div> -->
							</div>
        </div>  
			</div>

			<div class="event_three">
				<h3>ENJOY THE UTMOST ONLINE SHOOPING</h3>
        <p>You can always find something really want</p>
       <div class="img_section">
						<img src="../../assets/img/online.png">
							<div class="event_middle">
								<!-- <div class="text">John Doe</div> -->
							</div>
        </div>  
			</div>
		</div>
	</div>


	<div class="center-box">
		<img src="../../assets/img/icon6.png" alt="Second slide" style="width:100%;height:600px;">
			<div class="centered">Centered</div>
				<div class="slide_button" style="left:10%" button (click)="createModel()">
					DESIGN MODEL
				</div>
	</div>



	<div class="product">
		<div class="container">
			<div class="product_section_title">Our Styles</div>

			<div class="product_one">
				<div class="product_img">
					<img src="../../assets/img/image1.jpg">
				</div>
				<div class="product_text">
					<h4>Oh my Dear <i>by Artist</i></h4>
				</div>
				<div class="star_rating">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star2.png">
				</div>
				<div class="product_desc">
					<b>Lorem ipsum</b> dolor sit amet, con
					adipiscing elit, sed diam nonu. 
				</div>
				<div class="product_price">
					<div class="price">
						$14.99
					</div>	
					<div class="button">
						ADD TO CART
					</div>
				</div>	
			</div>

			<div class="product_one product_two">
				<div class="product_img">
					<img src="../../assets/img/men1.jpg">
				</div>
				<div class="product_text">
					<h4>Oh my Dear <i>by Artist</i></h4>
				</div>
				<div class="star_rating">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star2.png">
				</div>
				<div class="product_desc">
					<b>Lorem ipsum</b> dolor sit amet, con
					adipiscing elit, sed diam nonu. 
				</div>
				<div class="product_price">
					<div class="price">
						$14.99
					</div>	
					<div class="button">
						ADD TO CART
					</div>
				</div>	
			</div>

			<div class="product_one product_three">
				<div class="product_img">
					<img src="../../assets/img/image3.jpg">
				</div>
				<div class="product_text">
					<h4>Oh my Dear <i>by Artist</i></h4>
				</div>
				<div class="star_rating">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star2.png">
				</div>
				<div class="product_desc">
					<b>Lorem ipsum</b> dolor sit amet, con
					adipiscing elit, sed diam nonu. 
				</div>
				<div class="product_price">
					<div class="price">
						$14.99
					</div>	
					<div class="button">
						ADD TO CART
					</div>
				</div>	
			</div>

			<div class="product_one product_four">
				<div class="product_img">
					<img src="../../assets/img/men2.jpg">
				</div>
				<div class="product_text">
					<h4>Oh my Dear <i>by Artist</i></h4>
				</div>
				<div class="star_rating">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star2.png">
				</div>
				<div class="product_desc">
					<b>Lorem ipsum</b> dolor sit amet, con
					adipiscing elit, sed diam nonu. 
				</div>
				<div class="product_price">
					<div class="price">
						$14.99
					</div>	
					<div class="button">
						ADD TO CART
					</div>
				</div>	
			</div>
		</div>
	</div>

	<div class="product">
		<div class="container">
			<div class="product_section_title">LATEST ARRIVALS IN MUSICA</div>

			<div class="product_one">
				<div class="product_img">
					<img src="../../assets/img/image1.jpg">
					<span>SALE</span>
				</div>
				<div class="product_text">
					<h4>Oh my Dear <i>by Artist</i></h4>
				</div>
				<div class="star_rating">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star2.png">
				</div>
				<div class="product_desc">
					<b>Lorem ipsum</b> dolor sit amet, con
					adipiscing elit, sed diam nonu. 
				</div>
				<div class="product_price">
					<div class="price">
						$14.99
					</div>	
					<div class="button">
						ADD TO CART
					</div>
				</div>	
			</div>

			<div class="product_one product_two">
				<div class="product_img">
					<img src="../../assets/img/image2.jpg">
					<span>SALE</span>
				</div>
				<div class="product_text">
					<h4>Oh my Dear <i>by Artist</i></h4>
				</div>
				<div class="star_rating">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star2.png">
				</div>
				<div class="product_desc">
					<b>Lorem ipsum</b> dolor sit amet, con
					adipiscing elit, sed diam nonu. 
				</div>
				<div class="product_price">
					<div class="price">
						$14.99
					</div>	
					<div class="button">
						ADD TO CART
					</div>
				</div>	
			</div>

			<div class="product_one product_three">
				<div class="product_img">
					<img src="../../assets/img/image3.jpg">
					<span>SALE</span>
				</div>
				<div class="product_text">
					<h4>Oh my Dear <i>by Artist</i></h4>
				</div>
				<div class="star_rating">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star2.png">
				</div>
				<div class="product_desc">
					<b>Lorem ipsum</b> dolor sit amet, con
					adipiscing elit, sed diam nonu. 
				</div>
				<div class="product_price">
					<div class="price">
						$14.99
					</div>	
					<div class="button">
						ADD TO CART
					</div>
				</div>	
			</div>

			<div class="product_one product_four">
				<div class="product_img">
					<img src="../../assets/img/image4.jpg">
					<span>SALE</span>
				</div>
				<div class="product_text">
					<h4>Oh my Dear <i>by Artist</i></h4>
				</div>
				<div class="star_rating">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star1.png">
					<img src="../../assets/img/star2.png">
				</div>
				<div class="product_desc">
					<b>Lorem ipsum</b> dolor sit amet, con
					adipiscing elit, sed diam nonu. 
				</div>
				<div class="product_price">
					<div class="price">
						$14.99
					</div>	
					<div class="button">
						ADD TO CART
					</div>
				</div>	
			</div>
		</div>
	</div>

	<div class="brand">
		<div class="container">
			<div class="product_section_title">OUR MOST IMPORTANT PUBLISHERS</div>

			<div class="brand_image">
				<img src="../../assets/img/brand1.jpg">
				<img src="../../assets/img/brand2.jpg">
				<img src="../../assets/img/brand3.jpg">
				<img src="../../assets/img/brand4.jpg">
				<img src="../../assets/img/brand5.jpg">
				<img src="../../assets/img/brand6.jpg">
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<div class="column3">
				<h4>Little about us</h4>
				<p><b>Sed posuere</b> consectetur  est at. 
				Nulla vitae elit libero, a pharetra. 
				Lorem ipsum <b>dolor sit</b> amet, conse
				ctetuer adipiscing elit.</p>
				<br>
				<h4>Socialize with us</h4>
				<p><img src="../../assets/img/icon6.png"><img src="../../assets/img/icon7.png"><img src="../../assets/img/icon8.png"><img src="../../assets/img/icon9.png"><img src="../../assets/img/icon10.png"></p>
			</div>
			<div class="column3 second-column">
				<h4>Our Archives</h4>
				<p>March 2012</p>
				<p>February 2012</p>
				<p>January 2012</p>
				<p class="not">December 2011</p>
			</div>
			<div class="column3 third-column">
				<h4>Popular post</h4>
				<p><img src="../../assets/img/image5.jpg">
				<span><b>Great Album</b><br><small><img src="../../assets/img/icon11.png"> 12 COMMENTS</small></span>
				</p>
				<p><img src="../../assets/img/image6.jpg">
				<span><b>Great Album</b><br><small><img src="../../assets/img/icon11.png"> 12 COMMENTS</small></span>
				</p>
			</div>
			<div class="column3 four-column">
				<h4>Search our Site</h4>
				<p><input type="search" class="search" placeholder="Enter Search ..." name=""></p>
				<br>
				<h4>Tag Cloud</h4>
				<p><a href="#">Audio CD</a> <a href="#">Video</a> <a href="#">Playlist</a><a href="#">Avantgard</a> <a href="#">Matancholic</a></p>
			</div>
		</div>
	</div>

	<div class="bottom">
		<div class="container">
			<div class="column6">
				<a href="#">Home</a>
				<a href="#">Portfolio</a>
				<a href="#">Sitemap</a>
				<a href="#">Contact</a>
			</div>
			<div class="column6 copyright">
				<p>Musica @2013 by PremiumCoding | All Rights Reserved</p>
			</div>
		</div>
	</div>

</div> 
<!-- main -->

<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="js/jquery.cycle.all.js"></script>
<script src="js/jquery.cycle2.carousel.js"></script>
<script>
	$('.slideshow').cycle({
		next: '#next',
		prev: '#prev'
	});
</script>


