<!-- <app-home-navigation></app-home-navigation> -->
<!-- <div class="container-fluid bg-light"> -->
<div class="row">
  <div class="logo">
    <img src="../../assets/img/logo1.PNG ">
  </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <h3 style="text-align: center">
        <b><i><span style="background-color:black;color: white">Register</span></i></b> and enjoy more Benefits!
      </h3>
    </div>
  </div>
<!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="border-light" style="border: 7px">
        <form [formGroup]="form" (submit)="signup()"> 
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" formControlName="email" >
                <span style=color:red;font-size:12px 
                *ngIf="firstNameInValid() && form.get('email').touched"
                class="help-block">Please enter valid e-mail address
              </span>
                <span style=color:red;font-size:12px 
                *ngIf="!form.get('email').errors['required']"
                class="help-block">This field is required</span>
                
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" formControlName="password">
              <span style=color:red;font-size:12px *ngIf="!form.get('password').valid && form.get('password').touched"
                class="help-block">Please enter a valid password</span>
            </div>
            <!-- <div class="form-group col-md-1"></div> -->
            <!-- <div class="form-group col-md-6">
              <label for="inputrPassword">Repeat Password</label>
              <input type="password" class="form-control" id="inputrPassword" formControlName="password">
            </div> -->
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
               
              <span style=color:red;font-size:12px *ngIf="!form.get('firstName').valid && form.get('firstName').touched"
                class="help-block">Please enter a valid first name</span>
                <span style=color:red;font-size:12px *ngIf="form.get('firstName').errors['required']"
                class="help-block">This field is required</span>
            </div>
            <div class="form-group col-md-6">
              <label for="inputlasttName">Last Name</label>
              <input type="text" class="form-control" id="inputlasttName" formControlName="lastName" placeholder="Last Name">
              <span style=color:red;font-size:12px *ngIf="!form.get('lastName').valid && form.get('lastName').touched"
                class="help-block">Please enter a valid last name</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputAddress">Address </label>
              <input type="type" class="form-control" id="inputAddress" formControlName="address" placeholder="Address Line 1">
              <span style=color:red;font-size:12px *ngIf="!form.get('address').valid && form.get('address').touched"
                class="help-block">Please enter a valid address</span>
            </div>
            <div class="form-group col-md-6">
              <label for="inputAdress2">Address (Line 2)</label>
              <input type="text" class="form-control" id="inputAddress2" formControlName="address2" placeholder="Address Line 2">
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" formControlName="city" placeholder="City">
                <span style=color:red;font-size:12px *ngIf="!form.get('city').valid && form.get('city').touched"
                class="help-block">Please enter a valid city</span>
              </div>
                <div class="form-group col-md-6">
                    <label for="inputCity">Province</label>
                    <input type="text" class="form-control" id="inputProvince" formControlName="province" placeholder="province">
                    <span style=color:red;font-size:12px *ngIf="!form.get('province').valid && form.get('province').touched"
                    class="help-block">Please enter a valid province</span>
                  </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputMobile">Mobile Number</label>
              <input type="text" class="form-control" id="inputMobile" formControlName="mobileno" >
              <span style=color:red;font-size:12px *ngIf="!form.get('mobileno').valid && form.get('mobieno').touched"
                    class="help-block">Please enter a valid mobile Number</span>
            </div>
            <div class="form-group col-md-6">
              <label for="inputGender">Gender</label>
              <select class="form-control" id="inputGender" formControlName="gender">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>
          
            <a href="/measurements" routerLinkActive="active">Get your personalized model </a>
          


          <div class="form-row">
            <label class="container">I have read and understand the <u>Privacy and Cookies Policy</u>
              <input type="checkbox">
                <span class="checkmark"></span>
            </label>
          </div>
          
          <div class="form-row">
            <input type="submit" class="btn btn-primary mr-5" value="Sign Up">
          </div>  
        </form>
      </div>
    </div>
  </div>
<!-- </div> -->
